.container.slp-container.info-block
  %h2.title
    Start Learning Now!
  .description 
    Log off and let GitLab’s CI/CD do the heavy lifting with automated workflows for compiling, testing, and staging. From jobs to issues, search it all from a single dashboard that doesn’t quit. We exist to help you work less. 
  = link_to "Watch demo", "https://about.gitlab.com/blog/2017/03/13/ci-cd-demo/", class: "btn cta-btn orange-light", style: "margin-bottom: 8px !important",  "data-cta-location": "Watch demo", "data-cta-section": "call to action"